.fRAMEEmptyChild {
  height: 90px;
  width: 1380px;
  position: relative;
  border-radius: var(--br-51xl);
  background-color: var(--gray-2);
  display: none;
  max-width: 100%;
}
.frameChild {
  position: absolute;
  top: 11.5px;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-gray-200);
  width: 16px;
  height: 16px;
}
.frameItem {
  position: absolute;
  top: 15.5px;
  left: 5px;
  background-color: var(--color-white);
  width: 6px;
  height: 9px;
  z-index: 1;
}
.frameInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
  width: 16px;
  height: 11.5px;
}
.rectangleParent {
  height: 27.5px;
  width: 16px;
  position: relative;
}
.buildIcon {
  align-self: stretch;
  height: 17.1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.fRAMEProjectsListing {
  height: 16px;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.fRAMELogo,
.fRAMEProjectsListing,
.logo {
  display: flex;
  justify-content: flex-start;
}
.logo {
  width: 94px;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-3xs);
  z-index: 1;
}
.fRAMELogo {
  width: 256px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.cOMPONENTSearchChild {
  height: 60px;
  width: 571px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--white);
  display: none;
  max-width: 100%;
}
.aboutUs {
  white-space: nowrap;
}
.aboutUs,
.projects {
  height: 19px;
  flex: 1;
  position: relative;
  line-height: 120%;
  display: inline-block;
  z-index: 2;
}
.agents {
  width: 54px;
}
.agents,
.listings,
.services {
  height: 19px;
  position: relative;
  line-height: 120%;
  display: inline-block;
  z-index: 2;
}
.services {
  flex: 1;
}
.listings {
  width: 56px;
}
.vuesaxlinearsearchNormalIcon {
  height: 24px;
  width: 24px;
  position: relative;
  z-index: 2;
}
.cOMPONENTSearch {
  width: 572px;
  border-radius: var(--br-21xl);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-lg) var(--padding-15xl) var(--padding-lg)
    var(--padding-3xl);
  box-sizing: border-box;
  z-index: 1;
}
.otherServices {
  height: 19px;
  width: 114px;
  position: relative;
  line-height: 120%;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.vuesaxlineararrowRightIcon {
  height: 18px;
  width: 18px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.fRAMECustomersFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.tEXTTransferOfRealEstat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.contactUs {
  height: 19px;
  width: 91px;
  position: relative;
  font-size: var(--font-size);
  line-height: 120%;
  font-family: var(--font);
  color: var(--text-heading-color);
  text-align: left;
  display: inline-block;
}
.fRAMEBookNow,
.fRAMEEmpty,
.fRAMEOtherServices {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fRAMEBookNow {
  cursor: pointer;
  border: 1px solid var(--gray-color);
  padding: var(--padding-2xl) var(--padding-11xl) var(--padding-xl)
    var(--padding-15xl);
  background-color: var(--white);
  border-radius: var(--br-21xl);
  overflow: hidden;
  justify-content: center;
  z-index: 1;
}
.fRAMEBookNow:hover {
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.fRAMEEmpty,
.fRAMEOtherServices {
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.fRAMEEmpty {
  height: 90px;
  border-radius: var(--br-51xl);
  background-color: var(--gray-2);
  align-items: flex-start;
  padding: var(--padding-smi) var(--padding-5xl) var(--padding-mini)
    var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: left;
  font-size: var(--font-size);
  color: var(--text-heading-color);
  font-family: var(--font);
}
@media screen and (max-width: 1200px) {
  .cOMPONENTSearch {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .fRAMEEmpty {
    gap: var(--gap-21xl);
  }
}
@media screen and (max-width: 450px) {
  .fRAMEEmpty {
    gap: var(--gap-xl);
  }
}
