.frameChild {
  align-self: stretch;
  width: 438px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--white);
  display: none;
  max-width: 100%;
}
.enterYourEmail {
  height: 24px;
  width: 130px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  z-index: 1;
}
.frameItem {
  height: 60px;
  width: 147px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--text-heading-color);
  display: none;
}
.getAQuote {
  height: 24px;
  width: 101px;
  position: relative;
  font-size: var(--font-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--font);
  color: var(--white);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.rectangleGroup,
.rectangleParent {
  border-radius: var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-2xl) var(--padding-lg)
    var(--padding-6xl);
  background-color: var(--text-heading-color);
  justify-content: center;
  white-space: nowrap;
}
.rectangleGroup:hover {
  background-color: var(--color-dimgray);
}
.rectangleParent {
  width: 438px;
  background-color: var(--white);
  justify-content: space-between;
  padding: 0 0 0 var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size);
  color: var(--color-gray-400);
  font-family: var(--font);
}
@media screen and (max-width: 450px) {
  .rectangleParent {
    flex-wrap: wrap;
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
}
