@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gotham+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sagata+Normal+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font: Poppins;
  --font-sagata-normal-sans: "Sagata Normal Sans";
  --font-inter: Inter;
  --font-gotham-pro: "Gotham Pro";

  /* font sizes */
  --font-size: 16px;
  --font3-size: 50px;
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;
  --font1-size: 67px;
  --font-size-35xl: 54px;
  --font2-size: 38px;
  --font-size-4xl: 23px;
  --font-size-2xl: 21px;
  --font-size-mid: 17px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-46xl-7: 65.7px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-66xl-7: 85.7px;

  /* Colors */
  --color-white: #fff;
  --white: #fefeff;
  --gray-2: #fafafa;
  --color-gray-100: #8a8a8a;
  --text-heading-color: #1f1f1f;
  --color-gray-200: #1e1e1e;
  --color-gray-300: rgba(254, 254, 255, 0.45);
  --color-gray-400: rgba(0, 0, 0, 0.45);
  --color-dimgray: #525252;
  --color-black: #000;
  --gray-color: #bebebe;
  --color-gainsboro: #e6e6e6;
  --color-teal-100: #4c8771;
  --color-teal-200: #417461;
  --color-darkslategray-100: #424242;
  --color-darkslategray-200: #414141;
  --color-whitesmoke-100: #f2f8f6;
  --color-whitesmoke-200: #f5f5f5;
  --color-red: #f01818;

  /* Gaps */
  --gap-8xl: 27px;
  --gap-26xl: 45px;
  --gap-3xl: 22px;
  --gap-xl: 20px;
  --gap-lg: 18px;
  --gap-156xl: 175px;
  --gap-68xl: 87px;
  --gap-25xl: 44px;
  --gap-61xl: 80px;
  --gap-21xl: 40px;
  --gap-8xs: 5px;
  --gap-5xl: 24px;
  --gap-mid: 17px;
  --gap-mini: 15px;
  --gap-7xs: 6px;
  --gap-base: 16px;
  --gap-13xl: 32px;
  --gap-11xl: 30px;
  --gap-4xs: 9px;
  --gap-3xs: 10px;
  --gap-smi: 13px;
  --gap-19xl: 38px;
  --gap-6xs: 7px;
  --gap-6xl: 25px;
  --gap-4xl: 23px;
  --gap-29xl: 48px;

  /* Paddings */
  --padding-15xl: 34px;
  --padding-10xl: 29px;
  --padding-11xl: 30px;
  --padding-12xs: 1px;
  --padding-37xl: 56px;
  --padding-24xl: 43px;
  --padding-103xl: 122px;
  --padding-17xl: 36px;
  --padding-60xl: 79px;
  --padding-2xl: 21px;
  --padding-5xl: 24px;
  --padding-lg: 18px;
  --padding-6xl: 25px;
  --padding-12xl: 31px;
  --padding-4xs: 9px;
  --padding-7xs: 6px;
  --padding-xl: 20px;
  --padding-16xl: 35px;
  --padding-9xs: 4px;
  --padding-11xs: 2px;
  --padding-72xl: 91px;
  --padding-27xl: 46px;
  --padding-157xl: 176px;
  --padding-40xl: 59px;
  --padding-4xl: 23px;
  --padding-95xl: 114px;
  --padding-smi: 13px;
  --padding-mini: 15px;
  --padding-21xl: 40px;
  --padding-10xs: 3px;
  --padding-3xl: 22px;
  --padding-3xs: 10px;
  --padding-19xl: 38px;
  --padding-13xl: 32px;
  --padding-26xl: 45px;
  --padding-32xl: 51px;
  --padding-base: 16px;
  --padding-34xl: 53px;
  --padding-339xl: 358px;
  --padding-8xl: 27px;
  --padding-23xl: 42px;
  --padding-7xl: 26px;
  --padding-36xl: 55px;
  --padding-41xl: 60px;
  --padding-25xl: 44px;
  --padding-sm: 14px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-mini: 15px;
  --br-21xl: 40px;
  --br-sm: 14px;
  --br-51xl: 70px;
  --br-5xl: 24px;
  --br-11xs: 2px;
  --br-11xl-4: 30.4px;
  --br-191xl: 210px;
  --br-3xs: 10px;
  --br-lgi-9: 19.9px;
}
